<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LeafTaps</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a1bd">  <td>18/09/15 10:48:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead()[pri:0, instance:testcase.Tc002_CreateLead@1610302]">createLead</td> 
  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 10:48:05</td>   <td>-46037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_003EditLead.editLead()[pri:0, instance:testcase.Tc_003EditLead@4fe44c]">editLead</td> 
  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/15 10:49:31</td>   <td>40243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_003DeleteLead.editLead()[pri:0, instance:testcase.Tc_003DeleteLead@1318ec4]">editLead</td> 
  <td>main@11979724</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/15 10:47:48</td>   <td>-63652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login()[pri:0, instance:testcase.TC001_LoginAndLogOut@38ae61]">login</td> 
  <td>main@11979724</td>   <td></td> </tr>
</table>
