<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>Tc_003EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:groups.Tc_003EditLead@3108bc]<br/></td></tr>
</table>
