<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>18/09/29 18:51:09</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pomTestCase.LoginTestCase@7740a2]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/29 18:51:10</td>   <td>656</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTestCase.setData()[pri:0, instance:pomTestCase.LoginTestCase@7740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/29 18:51:10</td>   <td>656</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:pomTestCase.LoginTestCase@7740a2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/29 18:51:10</td>   <td>1196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCase.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pomTestCase.LoginTestCase@7740a2]">loginLogout</td> 
  <td>main@29229920</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/29 18:51:10</td>   <td>1228</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:pomTestCase.LoginTestCase@7740a2]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29229920</td>   <td></td> </tr>
</table>
