<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AllTests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:56:44</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.Tc002_CreateLead@a3426]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/21 07:56:44</td>   <td>464</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogOut.setData()[pri:0, instance:testcase.TC001_LoginAndLogOut@3708b3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/21 07:56:44</td>   <td>464</td> <td>&nbsp;</td><td title="&gt;&gt;Tc002_CreateLead.setData()[pri:0, instance:testcase.Tc002_CreateLead@a3426]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/21 07:56:44</td>   <td>464</td> <td>&nbsp;</td><td title="&gt;&gt;Tc_003EditLead.setData()[pri:0, instance:testcase.Tc_003EditLead@185d8b6]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/21 07:56:44</td>   <td>464</td> <td>&nbsp;</td><td title="&gt;&gt;Tc_004DeleteLead.setData()[pri:0, instance:testcase.Tc_004DeleteLead@eed359]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/21 07:56:44</td>   <td>465</td> <td>&nbsp;</td><td title="&gt;&gt;Tc_005DuplicateLead.setData()[pri:0, instance:testcase.Tc_005DuplicateLead@11fba17]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/21 07:56:44</td>   <td>465</td> <td>&nbsp;</td><td title="&gt;&gt;Tc_006MergeLead.setData()[pri:0, instance:testcase.Tc_006MergeLead@9b1010]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:56:44</td>   <td>474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.Tc002_CreateLead@a3426]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:56:44</td>   <td>488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.Tc002_CreateLead@a3426]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/21 07:56:55</td>   <td>11568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead()[pri:0, instance:testcase.Tc002_CreateLead@a3426]">createLead</td> 
  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:57:17</td>   <td>33134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.Tc002_CreateLead@a3426]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:57:19</td>   <td>35454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.Tc_004DeleteLead@eed359]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:57:19</td>   <td>35456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.Tc_004DeleteLead@eed359]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/21 07:57:30</td>   <td>46447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_004DeleteLead.editLead()[pri:0, instance:testcase.Tc_004DeleteLead@eed359]">editLead</td> 
  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:57:52</td>   <td>68367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.Tc_004DeleteLead@eed359]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:57:52</td>   <td>68398</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.Tc_006MergeLead@9b1010]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:57:52</td>   <td>68398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.Tc_006MergeLead@9b1010]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/21 07:58:02</td>   <td>78520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_006MergeLead.mergeLead()[pri:0, instance:testcase.Tc_006MergeLead@9b1010]">mergeLead</td> 
  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:20</td>   <td>95875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.Tc_006MergeLead@9b1010]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:22</td>   <td>98229</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.TC001_LoginAndLogOut@3708b3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/21 07:58:22</td>   <td>98229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login()[pri:0, instance:testcase.TC001_LoginAndLogOut@3708b3]">login</td> 
  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:30</td>   <td>105862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.TC001_LoginAndLogOut@3708b3]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:30</td>   <td>105924</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.Tc_005DuplicateLead@11fba17]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:30</td>   <td>105924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.Tc_005DuplicateLead@11fba17]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/21 07:58:39</td>   <td>115337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_005DuplicateLead.editLead()[pri:0, instance:testcase.Tc_005DuplicateLead@11fba17]">editLead</td> 
  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:58</td>   <td>134183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.Tc_005DuplicateLead@11fba17]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:58</td>   <td>134245</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.Tc_003EditLead@185d8b6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:58:58</td>   <td>134261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.Tc_003EditLead@185d8b6]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/21 07:59:08</td>   <td>144583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_003EditLead.editLead()[pri:0, instance:testcase.Tc_003EditLead@185d8b6]">editLead</td> 
  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:59:31</td>   <td>167350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.Tc_003EditLead@185d8b6]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/21 07:59:31</td>   <td>167444</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase.Tc002_CreateLead@a3426]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29341962</td>   <td></td> </tr>
</table>
