<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LeafTapsParallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/09/15 10:55:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_003DeleteLead.editLead()[pri:0, instance:testcase.Tc_003DeleteLead@38ae61]">editLead</td> 
  <td>TestNG-test=Performance-1@27902328</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 10:55:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead()[pri:0, instance:testcase.Tc002_CreateLead@4fe44c]">createLead</td> 
  <td>TestNG-test=Performance-2@32308681</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/15 10:56:12</td>   <td>46785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login()[pri:0, instance:testcase.TC001_LoginAndLogOut@1610302]">login</td> 
  <td>TestNG-test=Performance-2@32308681</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/15 10:56:21</td>   <td>55408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_003EditLead.editLead()[pri:0, instance:testcase.Tc_003EditLead@1318ec4]">editLead</td> 
  <td>TestNG-test=Performance-1@27902328</td>   <td></td> </tr>
</table>
