<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>POM</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="968ab9">  <td>18/09/30 07:31:13</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:pomTestCase.LoginTestCase@3108bc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/30 07:31:02</td>   <td>-10833</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:pomTestCase.LoginTestCase@3108bc]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/30 07:31:01</td>   <td>-11536</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pomTestCase.LoginTestCase@3108bc]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/30 07:31:13</td>   <td>-76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:pomTestCase.LoginTestCase@3108bc]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/30 07:31:03</td>   <td>-10261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:pomTestCase.LoginTestCase@3108bc]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/30 07:31:11</td>   <td>-2139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestCase.loginLogout(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pomTestCase.LoginTestCase@3108bc]">loginLogout</td> 
  <td>main@25517210</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/30 07:31:02</td>   <td>-10833</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTestCase.setData()[pri:0, instance:pomTestCase.LoginTestCase@3108bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
</table>
