<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>leaftapAnnotation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/09/15 12:52:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login()[pri:0, instance:testcase.TC001_LoginAndLogOut@127982]">login</td> 
  <td>main@2422283</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 12:53:04</td>   <td>9130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_003EditLead.editLead()[pri:0, instance:testcase.Tc_003EditLead@f93f1]">editLead</td> 
  <td>main@2422283</td>   <td></td> </tr>
</table>
