<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regresion</td><td>Tc_005DuplicateLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:groups.Tc_005DuplicateLead@ec5a4a]<br/></td></tr>
<tr><td>smoke</td><td>Tc002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:groups.Tc002_CreateLead@10366b4]<br/></td></tr>
</table>
