<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aba872">  <td>18/09/23 10:26:47</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:groups.Tc002_CreateLead@10366b4]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:26:46</td>   <td>-636</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:groups.Tc002_CreateLead@10366b4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/09/23 10:26:45</td>   <td>-1198</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:groups.Tc002_CreateLead@10366b4]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/23 10:26:47</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:groups.Tc002_CreateLead@10366b4]">createLead</td> 
  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/23 10:26:47</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:groups.Tc002_CreateLead@10366b4]">createLead</td> 
  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/23 10:26:47</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:groups.Tc002_CreateLead@10366b4]">createLead</td> 
  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/23 10:26:47</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:groups.Tc002_CreateLead@10366b4]">createLead</td> 
  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/23 10:26:47</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:groups.Tc002_CreateLead@10366b4]">createLead</td> 
  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/23 10:26:47</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_005DuplicateLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:groups.Tc_005DuplicateLead@ec5a4a]">editLead</td> 
  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/23 10:26:47</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc_005DuplicateLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:groups.Tc_005DuplicateLead@ec5a4a]">editLead</td> 
  <td>main@4817757</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/09/23 10:26:46</td>   <td>-636</td> <td>&nbsp;</td><td title="&gt;&gt;Tc002_CreateLead.setData()[pri:0, instance:groups.Tc002_CreateLead@10366b4]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4817757</td>   <td></td> </tr>
</table>
